label {
  color: #115570;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #fb724c, #fedcd2);
}

.button {
  background-color: #115570;
  color: #fff;
}

.button:hover {
  background-color: #0d3b4a;
  color: aliceblue;
}

label,
.button {
  font-family: 'Poppins', sans-serif;
}

i {
  vertical-align: middle;
}